#experiencias{
	padding-top: 50px;
	padding-bottom: 100px;
	p{
		font-size: 10px;
	}
}

#buscador{
	.buscador__box{
	    padding-top: 3%;
	}
	.buscador__box--btn{
		background-color: $pink;
	}
}
//plugin jquery 
#ui-datepicker-div{
	background: #fff;
    padding: 1%;
    color: $pink;
}

.ui-widget-header a{
	color: $pink;
}

.ui-widget-header {
    border: none;
    background: #fff;
    color: $pink;
    font-weight: bold;
}


// HTML 2
#resultado{
	.row{
		.logo{
			img{
				width: 100%;
			}
		}
		.cont-busqueda{
			margin-top: 12px;
			#busqueda{
				margin-bottom: 0px;
				height: 22px;
			}
		}
		.nav-link{
			ul{
				display: flex;
				justify-content: space-around;				
			}
		}
	}
	#map{
		height: 500px;
	}
	.boton-filtro{
		border: 1px solid $grey;
		border-radius: 4px;		
		text-transform: none;
		font-weight: bold;
		color: $letters;
	}
}

footer{
	.container{
		width: 90%;
	}
	.footer-select{
		margin-top: 20px;
	}
	select{
		color:$footer-select !important;
		width: 70%;
		margin-bottom: 8px;
	}
	.img-footer{
		margin-right: 5px;
	}
	.footer-terminos{
		.grey-text{
			margin-right: 20px;
		}
	}
	.icons{
		.fa{
			margin-right: 20px;
		}		
	}	
}
.footer-col{
		h5{
			font-size: 16px;
			font-weight: bold;			
		}		 
}
.filtros-avanzados{
	.grey-text{
	color: $letters !important;
	font-weight: bold;
	}	
	hr{
		color: $hrGrey;
	}
	.fa-trophy{
		color: $fa-trophy;
	}
	.superhost{
		font-size: 14px;
		color: $letters !important;
		font-weight: bold;
	}
	.btn-section{
		.btn{
			text-transform: none;
			width: 200px;
		}
		.btn__pink{
			background: $pink;
		}
		.btn__grey{
			margin-left: 10px;
			color: $grey;
			border: 1px solid $grey;
		}
	}
}
/*validacion*/
.errores {
    color: black;
    display: none;
    font-size: 14px;
    margin-top: 1px;
}

